body{
    font-family: 'Lato', sans-serif;
    margin: 0 !important;
}

/*----------------------MENU----------------------*/

menu{
    padding: 0;
}

.menuContainer{
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

ul > li{
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding-left: 40px;
    padding-right: 40px;
    border-right: solid 1px;
}

ul > li:first-child{
    padding-left: 0px;
}

ul > li:nth-child(3){
    border-right: none;
    padding-right: 0px;
}

ul > li a{
    text-decoration: none;
    color: #000;
    padding-left: 30px;
    padding-right: 20px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

ul > li a:hover
{
    background-color: #d9d9d9;
}

.slicknav_menu {
	display:none;
}

@media only screen and (max-width: 680px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
}

/*----------------------KOLEJNE SEKCJE----------------------*/

.parallax_section{
    height: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100%;
    position: relative;
}

@media only screen and (max-width: 680px) {
    .parallax_section{
        width: 100%;
        height: 1000px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.parallax_image_first{
    background-image: url("img/technologie1.jpg");
}

h1{
   margin-top: -200px;
}

.center{
    width: 700px;
    font-size: 20px;
    position: absolute;
    top: 220px;
    padding-top: 100px;
    left: 50%;
    margin-left: -350px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

@media only screen and (max-width: 680px) {
    .center{
      width: 100%;
      font-size: 20px;
      position: absolute;
      padding-top: 50px;
      left: 0%;
      margin-left: 0px;
      text-align: center;
      font-weight: 600;
      color: #fff;
    }
}

.content2{
    width: 1000px;
    height: 700px;
    margin-left: auto;
    margin-right: auto; 
    border-bottom: solid 1px;
}

@media only screen and (max-width: 680px) {
    .content2{
      width: 100%;
      height: 500px;
      border-bottom: none;
    }
}

.picture1{
    float: left;
    background-image: url("img/sadowski_soft.png"); /* Źródło: http://www.stolcad.pl/ */
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    margin-top: 110px;
}

@media only screen and (max-width: 680px) {
    .picture1{
        display: none;
    }
}

.center2{
    font-size: 20px;
    float: left;
    color: #000;
    width: 400px;
    margin-top: 140px;
    margin-left: 200px;
    text-align: center;
}

@media only screen and (max-width: 680px) {
    .center2{
      font-size: 20px;
      color: #000;
      width: 100%;
      margin-top: 50px;
      margin-left: 0px;
      text-align: center;
    }
}

/*----------------------OŚ PROCESÓW----------------------*/

.content3{
    position: relative;
    width: 900px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

@media only screen and (max-width: 680px) {
    .content3{
        width: 100%;
        height: 500px;
        margin-top: 150px;
    }
}


#titleLine{
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.wrapper{
    margin-left: -200px;
}

#point1{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 100%;
    background-color: #000;
    -webkit-transition: width 0.5s, height 0.5s, margin-top 0.5s;
    transition: width 0.5s, height 0.5s, margin-top 0.5s;
}

#line1{
    width: 0px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: solid 2px;
}

#process1{
    position: absolute;
    top: 120px;
    left: 170px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

#description1{
    position: absolute;
    top: 110px;
    left: 400px;
    width: 450px;
    font-size: 15px;
    font-weight: 600;
}

.hide{
    opacity: 0;
}

@media only screen and (max-width: 680px) {
    #titleLine{
        display: none;
    }

.wrapper{
    display: none;
}

#point1{
    display: none;
}

#line1{
    display: none;
}

#process1{
    display: none;
}

#description1{
    display: none;
}

    .hide{
    display: none;
    }
    
}

/*----------------------FOOTER----------------------*/

footer{
    position: fixed;
    bottom: 0;
    background-color: #d9d9d9;
    padding-bottom: 40px;
    width: 100%;
    height: 50px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 680px) {
    footer{
        position: relative;
        bottom: 0;
        background-color: #d9d9d9;
        width: 100%;
        height: 80px;
        padding-top: 5px;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
}

.contact{
    width: 600px;
    height: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
}

@media only screen and (max-width: 680px) {
    .contact{
        width: 100%;
        height: 40px;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
    }
}

.copy{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
}

@media only screen and (max-width: 680px) {
    .copy{
        width: 100%;
        text-align: center;
        font-weight: 600;
    }
}

.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.stickyStyle{
    background-color: #000;
    color: #fff;
    opacity: 0.7;
}

.stickyStyleList{
    color: #fff;
}

.stickyStyleList:hover{
    background-color: #fff;
    color: #000;
}